html,body{margin: 0; padding: 0; color: black; background-color: #ccc;}
.main{
    display: flex;
    justify-content: center;
}
img{
    position: absolute;
    top: 10px;
    right: 20px;
}
.section{
   width: 75vw;
}

table, th, td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
table{
    width: 100%;
    border-collapse: collapse;
    font-weight: 800;
}
table thead{
    background-color: #0275d8;
    color: #FFF;
}
table thead tr th {
    padding: 05px;
}

table td{
    padding: 15px;
}
table tbody tr{
    background-color: rgb(235, 235, 235);
}
ol.tags{
    background-color: rgb(235, 235, 235);
    padding: 20px;
}

ol.tags li{
    margin-left: 20px;
    line-height: 25px;
}


.section form input{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin: 5px 0;
}

.section form{
    flex-direction: column;
    margin: 15px 0px;
    box-sizing: border-box;
}

#formSpent{
    display: none;
}

.btn-azul{
    background-color: #0275d8;
    color: #FFF;
    border: none;
    position: relative;
    padding: 10px;
    width: 80px;
}
.btn-container{
    display: flex;
    margin: 10px;
    justify-content: center;
    box-sizing: border-box;
}
.btn-container button{
    padding: 10px;
    margin: 10px;
}

.btn-azul:hover{
    background-color: #0274d8d0;
    cursor: pointer;
}
.table-nome{
    margin-bottom: 20px;
}
.table-nome thead tr th {
    width: 100%;  
}

div#mensagem p.message{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: #ccc;
    border-radius: 10px;
}




